---
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Non trouvé" description="erreur 404 - page non trouvée">
	<Hero title="La fameuse 404" tagline="Depuis le temps tu sais ce que ça veut dire, non? La page n'as pas été trouvée" />
</BaseLayout>
