---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Parcours | Nicolas Courtonne" description="Le parcours de Nicolas Courtonne">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Mon Parcours"
				tagline="Hey ! Merci de passer ! En lisant ces quelques lignes vous en saurez un peu plus sur mon parcours professionnel"
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>
			<section>
				<h2 class="section-title">Éducation</h2>
				<div class="content">
					<p>
						Baccaloréat scientifique, Saint-François-de-Sales à Evreux (27)
					</p>
					<p>
						BTS Audiovisuel, CIFACOM à Montreuil (93)
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Les débuts</h2>
				<div class="content">
					<p>
						Après mes études, en 2008 je rejoins le Kolektif Alambik. Une association de spectacle vivant spécialisée dans la projection monumentale de diapositives peintes à la main. Embauché pour créer et développer la section vidéo, j'ai créé des animations originales d'enluminures datant du Moyen Âge et inventé des techniques de projections.
					</p>
					<p>
						2014, las d'un environnement professionnel délétaire, avec un ami nous avons décidé de créer une association de spectacle de projection vidéo, Vision Spectrale. Pendant 2 ans, nous avons fait des spectacles qui resterons dans nos mémoires, tels que  la soirée Beetlejuice à la Java de Paris, le spectacle d'Opéra d'Hossegor ainsi que la fête des lumière de Lyon.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Le présent</h2>
				<div>
					<p>
						Après un long parcours dans la vidéo, j'ai décidé de revenir à mon premier coup de foudre : le développement informatique.
						J'ai donc suivi une formation accélérée de développement Web avec Webforce3. En novembre 2022, je créer ma micro-société de développement de site & application Web. 
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Le futur</h2>
				<div>
					<p>
						J'espère maintenant écrire ici notre hitoire, n'hésitez pas à me contacter :)
					</p>
				</div>
			</section>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
