---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---

<aside id="aside-mail">
	<h2>Mon profil vous intéresse?</h2>
	<CallToAction href="#" id="bouton-mail">
		Envoyez-moi un message
		<Icon icon="paper-plane-tilt" size="1.2em" />
	</CallToAction>
</aside>

<script>
	const actionMail = document.querySelector("#bouton-mail");
	const prefix = "nicolas";
	const domaine = "devweb";
	const extension = "dev";
	const handleClick = () => {
		const direction = "mailto:" + prefix + "@" + domaine + "." + extension;
		window.location.href = direction;
	}
	actionMail.addEventListener('click',handleClick);
</script>

<style>
	aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 3rem;
		border-top: 1px solid var(--gray-800);
		border-bottom: 1px solid var(--gray-800);
		padding: 5rem 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	h2 {
		font-size: var(--text-xl);
		text-align: center;
		max-width: 15ch;
	}

	@media (min-width: 50em) {
		aside {
			padding: 7.5rem;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		h2 {
			font-size: var(--text-3xl);
			text-align: left;
		}
	}
</style>
