---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>Développeur full stack depuis 2022, j'ai pu tester beaucoup de languages et framework différents et mes préférés sont Symfony et React.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="camera" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Vidéaste</h2>
		<p>Réalisation, montage, animation, régie, vidjing... La vidéo dans tout ses états fait partie de mes passions.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Polyvalence</h2>
		<p>Curieux, je me suis lancé avec succès dans énormément projets sans rien connaitre au départ. Au temps de l'information instantanée, pour tous rien n'est impossible.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
